<!-- ============================================================== -->
<!-- Card Group Row -->
<!-- ============================================================== -->
<app-top-card2></app-top-card2>
<!-- ============================================================== -->
<!-- Chart boxes -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <app-sales-purchase></app-sales-purchase>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <app-visitor2></app-visitor2>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-md="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <app-sales-yearly></app-sales-yearly>
    </div>
    <!-- column -->

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <app-developer-info></app-developer-info>
    </div>
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <app-dashboard-emp></app-dashboard-emp>
    </div>
</div>
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
        <app-comments></app-comments>
    </div>
    <!-- Card column -->
    <!-- Card column -->
    <div fxFlex.gt-lg="50" fxFlex.gt-md="50" fxFlex.gt-xs="100" fxFlex="100">
        <app-message></app-message>
    </div>
</div>