<mat-card class="oh">
    <img mat-card-image src="assets/images/big/img1.jpg" style="max-height: 300px;" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A
            small, agile dog that copes
            very well with mountainous terrain
        </p>
        <mat-card-actions>
            <button mat-raised-button color="accent">LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
