<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Basic use of `table mat-table`</mat-card-title>
                <div class="responsive-table">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!--- Note that these columns can be defined in any order.
                                        The actual rendered columns are set as a property on the row definition" -->

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th mat-header-cell *matHeaderCellDef> Weight </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <th mat-header-cell *matHeaderCellDef> Symbol </th>
                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>

            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <mat-card-title>Basic use of `mat-table` (uses display flex)</mat-card-title>
                <div class="responsive-table">
                    <mat-table #table [dataSource]="dataSource">

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <mat-header-cell *matHeaderCellDef> Position. </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="header-label">Position:</span>
                                {{element.position}}
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="header-label">Name:</span>
                                {{element.name}}
                            </mat-cell>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="header-label">Weight:</span>
                                {{element.weight}}
                            </mat-cell>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <span class="header-label">Symbol:</span>
                                {{element.symbol}}
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>