<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-success">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex p-t-20 p-b-20 no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Sales</h3>
                        <h6 class="text-white m-t-0">March 2018</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <div class="d-flex flex-column">
                            <apx-chart [series]="inexpu2chartOptions.series" [chart]="inexpu2chartOptions.chart"
                                [dataLabels]="inexpu2chartOptions.dataLabels"
                                [plotOptions]="inexpu2chartOptions.plotOptions" [yaxis]="inexpu2chartOptions.yaxis"
                                [legend]="inexpu2chartOptions.legend" [fill]="inexpu2chartOptions.fill"
                                [stroke]="inexpu2chartOptions.stroke" [tooltip]="inexpu2chartOptions.tooltip"
                                [xaxis]="inexpu2chartOptions.xaxis" [grid]="inexpu2chartOptions.grid">
                            </apx-chart>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-purple">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex p-t-20 p-b-20 no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Purchase</h3>
                        <h6 class="text-white m-t-0">March 2018</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <div class="d-flex flex-column">
                            <apx-chart [series]="inexpu2chartOptions.series" [chart]="inexpu2chartOptions.chart"
                                [dataLabels]="inexpu2chartOptions.dataLabels"
                                [plotOptions]="inexpu2chartOptions.plotOptions" [yaxis]="inexpu2chartOptions.yaxis"
                                [legend]="inexpu2chartOptions.legend" [fill]="inexpu2chartOptions.fill"
                                [stroke]="inexpu2chartOptions.stroke" [tooltip]="inexpu2chartOptions.tooltip"
                                [xaxis]="inexpu2chartOptions.xaxis" [grid]="inexpu2chartOptions.grid">
                            </apx-chart>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>