<mat-card>
    <mat-card-content>
        <mat-card-title>Default Editor</mat-card-title>
        <mat-card-subtitle>quill editor with angular and TypeScript. ngx-quill is the new angular 2 and beyond implementation of ngQuill.
            <a
                href="https://github.com/KillerCodeMonkey/ngx-quill" target="_blank">Official website</a>
        </mat-card-subtitle>
        <quill-editor [style]="{height: '200px'}"></quill-editor>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <mat-card-title>Bubble Editor</mat-card-title>
        <quill-editor theme="bubble" placeholder="Bubble editor" bounds=".mat-drawer-content" [style]="{border: '1px solid #dadada'}"></quill-editor>
    </mat-card-content>
</mat-card>
