<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        <h3 class="m-0">86</h3>
                        <h6 class="text-muted m-0">New Clients</h6>
                    </div>
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                        <button mat-fab color="primary" mat-card-icon class="shadow-none">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        <h3 class="m-0">248</h3>
                        <h6 class="text-muted m-0">All Projects</h6>
                    </div>
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none">
                            <mat-icon>local_mall</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        <h3 class="m-0">352</h3>
                        <h6 class="text-muted m-0">New Items</h6>
                    </div>
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>stars</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        <h3 class="m-0">159</h3>
                        <h6 class="text-muted m-0">New Invoices</h6>
                    </div>
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-success">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>

<!-- ============================================================== -->
<!-- Card Group Row -->
<!-- ============================================================== -->
<div class="card-group">
    <!-- column -->

    <mat-card>
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-info">account_circle</mat-icon>
            <h3 class="m-0">386</h3>
            <h5 class="text-muted m-t-0 m-b-10">New Clients</h5>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
    <!-- column -->

    <mat-card>
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-danger">local_mall</mat-icon>
            <h3 class="m-0">1386</h3>
            <h5 class="text-muted m-t-0 m-b-10">New Projects</h5>
            <mat-progress-bar color="warn" mode="determinate" value="60"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
    <!-- column -->

    <mat-card>
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-purple">stars</mat-icon>
            <h3 class="m-0">986</h3>
            <h5 class="text-muted m-t-0 m-b-10">New Items</h5>
            <mat-progress-bar color="accent" mode="determinate" value="80"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
    <!-- column -->

    <mat-card>
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-info">content_paste</mat-icon>
            <h3 class="m-0">786</h3>
            <h5 class="text-muted m-t-0  m-b-10">New Invoices</h5>
            <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                            <mat-icon>account_circle</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">386</h3>
                        <h6 class="text-muted m-0">New Clients</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                            <mat-icon>local_mall</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">2408</h3>
                        <h6 class="text-muted m-0">All Projects</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                            <mat-icon>stars</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">352</h3>
                        <h6 class="text-muted m-0">New Items</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
                            <mat-icon>content_paste</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">159</h3>
                        <h6 class="text-muted m-0">New Invoices</h6>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="33.33%" fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="assets/images/users/1.jpg" class="img-fluid img-circle" />
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/big/img4.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
                <mat-card-actions>
                    <button mat-raised-button color="accent">LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Card column -->
    <div fxFlex.gt-sm="33.33%" fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="assets/images/users/2.jpg" class="img-fluid img-circle" />
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/big/img3.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>

                <mat-card-actions>
                    <button mat-raised-button color="accent">LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Card column -->
    <div fxFlex.gt-sm="33.33%" fxFlex="100">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <img src="assets/images/users/3.jpg" class="img-fluid img-circle" />
                </div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/images/big/img5.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                    very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>

                <mat-card-actions>
                    <button mat-raised-button color="accent">LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <h3 class="m-0">386</h3>
                <h5 class="text-muted m-t-0">New Clients</h5>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <h3 class="m-0">1386</h3>
                <h5 class="text-muted m-t-0">New Projects</h5>
                <mat-progress-bar color="warn" mode="determinate" value="60"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <h3 class="m-0">986</h3>
                <h5 class="text-muted m-t-0">New Items</h5>
                <mat-progress-bar color="accent" mode="determinate" value="80"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <h3 class="m-0">786</h3>
                <h5 class="text-muted m-t-0">New Invoices</h5>
                <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <!-- Row -->
            <div class="social-widget">
                <div class="soc-header box-facebook">
                    <i class="fa fa-facebook"></i>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                        <h3 class="font-medium m-0">456</h3>
                        <span class="text-muted">Followers</span>
                    </div>
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20">
                        <h3 class="font-medium  m-0">456</h3>
                        <span class="text-muted">Posts</span>
                    </div>
                </div>
            </div>

        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <!-- Row -->
            <div class="social-widget">
                <div class="soc-header box-twitter">
                    <i class="fa fa-twitter"></i>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                        <h3 class="font-medium m-0">456</h3>
                        <span class="text-muted">Followers</span>
                    </div>
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20">
                        <h3 class="font-medium  m-0">456</h3>
                        <span class="text-muted">Tweets</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <!-- Row -->
            <div class="social-widget">
                <div class="soc-header box-google">
                    <i class="fa fa-google"></i>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                        <h3 class="font-medium m-0">456</h3>
                        <span class="text-muted">Circles</span>
                    </div>
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20">
                        <h3 class="font-medium  m-0">456</h3>
                        <span class="text-muted">Posts</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <!-- Row -->
            <div class="social-widget">
                <div class="soc-header box-linkedin">
                    <i class="fa fa-linkedin"></i>
                </div>
                <div fxLayout="row" fxLayoutWrap="wrap" class="text-center">
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20 b-r">
                        <h3 class="font-medium m-0">456</h3>
                        <span class="text-muted">Contacts</span>
                    </div>
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="p-20">
                        <h3 class="font-medium  m-0">456</h3>
                        <span class="text-muted">Posts</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Six Group Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="100" fxFlex="100">
        <a href="javascript:void">
            <mat-card class="bg-info text-white text-center">
                <div class="p-10">
                    <h2 class="m-0">2064</h2>
                    <small>Sessions</small>
                </div>
            </mat-card>
        </a>
    </div>
    <!-- column -->
    <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="100" fxFlex="100">
        <a href="javascript:void">
            <mat-card class="bg-purple text-white text-center">
                <div class="p-10">
                    <h2 class="m-0">1,738</h2>
                    <small>Users</small>
                </div>
            </mat-card>
        </a>
    </div>
    <!-- column -->
    <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="100" fxFlex="100">
        <a href="javascript:void">
            <mat-card class="bg-success text-white text-center">
                <div class="p-10">
                    <h2 class="m-0">5693</h2>
                    <small>Page Views</small>
                </div>
            </mat-card>
        </a>
    </div>
    <!-- column -->
    <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="100" fxFlex="100">
        <a href="javascript:void">
            <mat-card class="bg-inverse text-white text-center">
                <div class="p-10">
                    <h2 class="m-0">2.9s</h2>
                    <small>Page Session</small>
                </div>
            </mat-card>
        </a>
    </div>
    <!-- column -->
    <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="100" fxFlex="100">
        <a href="javascript:void">
            <mat-card class="bg-megna text-white text-center">
                <div class="p-10">
                    <h2 class="m-0">61.5s</h2>
                    <small>Avg. Session</small>
                </div>
            </mat-card>
        </a>
    </div>
    <!-- column -->
    <div fxFlex.gt-sm="16.66" fxFlex.gt-xs="100" fxFlex="100">
        <a href="javascript:void">
            <mat-card class="bg-warning text-white text-center">
                <div class="p-10">
                    <h2 class="m-0">10%</h2>
                    <small>Bounce Rate</small>
                </div>
            </mat-card>
        </a>
    </div>
</div>
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <h3 class="m-t-0">Daily Sales</h3>
                <div class="text-right">
                    <h5 class="text-muted m-0">Todays Income</h5>
                    <h2 class="m-t-0">
                        <sup>
                            <i class="ti-arrow-up text-info"></i>
                        </sup> $1560</h2>
                </div>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <h3 class="m-t-0">Weekly Sales</h3>
                <div class="text-right">
                    <h5 class="text-muted m-0">Weekly Income</h5>
                    <h2 class="m-t-0">
                        <sup>
                            <i class="ti-arrow-up text-purple"></i>
                        </sup> $8,000</h2>
                </div>
                <mat-progress-bar color="accent" mode="determinate" value="60"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <h3 class="m-t-0">Monthly Sales</h3>
                <div class="text-right">
                    <h5 class="text-muted m-0">Monthly Income</h5>
                    <h2 class="m-t-0">
                        <sup>
                            <i class="ti-arrow-up text-danger"></i>
                        </sup> $30,000</h2>
                </div>
                <mat-progress-bar color="warn" mode="determinate" value="60"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <h3 class="m-t-0">Yearly Sales</h3>
                <div class="text-right">
                    <h5 class="text-muted m-0">Yearly Income</h5>
                    <h2 class="m-t-0">
                        <sup>
                            <i class="ti-arrow-up text-info"></i>
                        </sup> $360,000</h2>
                </div>
                <mat-progress-bar color="" mode="determinate" value="80"></mat-progress-bar>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-info">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block">
                    <div class="stats">
                        <h1 class="text-white m-0">3257+</h1>
                        <h6 class="text-white m-t-0">Twitter Followers</h6>
                        <button mat-raised-button>Check list</button>
                    </div>
                    <div class="stats-icon text-right ml-auto">
                        <i class="fa fa-twitter display-5 op-3 text-white"></i>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-purple">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block">
                    <div class="stats">
                        <h1 class="text-white m-0">6509+</h1>
                        <h6 class="text-white m-t-0">Facebook Followers</h6>
                        <button mat-raised-button color="primary">Check List</button>
                    </div>
                    <div class="stats-icon text-right ml-auto">
                        <i class="fa fa-facebook display-5 op-3 text-white"></i>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-success">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block">
                    <div class="stats">
                        <h1 class="text-white m-0">9062+</h1>
                        <h6 class="text-white m-t-0">Subscribed Members</h6>
                        <button mat-raised-button>Check List</button>
                    </div>
                    <div class="stats-icon text-right ml-auto">
                        <i class="fa fa-envelope display-5 op-3 text-white"></i>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <div class="stats">
                    <h3 class="m-0">Site A Traffic</h3>
                    <div class="d-flex flex-row no-block">
                        <div class="p-10">
                            <div class="font-light">Growth</div>
                            <b>80.40%</b>
                        </div>
                        <div class="p-10">
                            <div class="font-light">Montly</div>
                            <b>20.40%</b>
                        </div>
                        <div class="p-10">
                            <div class="font-light">Daily</div>
                            <b>5.40%</b>
                        </div>
                    </div>
                </div>
                <div class="sitea"></div>

            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <!-- column -->
                <div class="stats">
                    <h3 class="m-0">Site B Traffic</h3>
                    <div class="d-flex flex-row no-block">
                        <div class="p-10">
                            <div class="font-light">Growth</div>
                            <b>80.40%</b>
                        </div>
                        <div class="p-10">
                            <div class="font-light">Montly</div>
                            <b>20.40%</b>
                        </div>
                        <div class="p-10">
                            <div class="font-light">Daily</div>
                            <b>5.40%</b>
                        </div>
                    </div>
                </div>
                <div class="siteb"></div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- column -->
                <div class="stats">
                    <h3 class="m-0">Site C Traffic</h3>
                    <div class="d-flex flex-row no-block">
                        <div class="p-10">
                            <div class="font-light">Growth</div>
                            <b>80.40%</b>
                        </div>
                        <div class="p-10">
                            <div class="font-light">Montly</div>
                            <b>20.40%</b>
                        </div>
                        <div class="p-10">
                            <div class="font-light">Daily</div>
                            <b>5.40%</b>
                        </div>
                    </div>
                </div>
                <div class="sitec"></div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
</div>
<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- Card column -->
    <div fxFlex.gt-sm="25" fxFlex="100">
        <mat-card class="oh text-center little-profile">
            <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="pro-img">
                    <img src="assets/images/users/4.jpg" width="100" alt="user">
                </div>
                <h3 class="m-b-0">Angela Dominic</h3>
                <h6 class="m-t-0 ">Web Designer &amp; Developer</h6>
                <mat-card-actions>
                    <button mat-raised-button color="warn">Follow</button>
                </mat-card-actions>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">1099</h3>
                        <small>Articles</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">23,469</h3>
                        <small>Followers</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">6035</h3>
                        <small>Likes</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Card column -->
    <!-- Card column -->
    <div fxFlex.gt-sm="75" fxFlex="100">
        <mat-card>
            <mat-tab-group>
                <!-- Tab 1 -->
                <mat-tab label="Timeline">
                    <mat-card-content>
                        <div class="d-flex no-blcok" *ngFor="let mytimeline of mytimelines">
                            <div class="m-r-20">
                                <img class="img-circle" width="50" [src]="mytimeline.image" alt="Image of {{mytimeline.from}}"> </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h3 class="m-0">{{mytimeline.from}}
                                    <small class="text-muted">{{mytimeline.time}}</small>
                                </h3>
                                <p class="text-muted">{{mytimeline.content}}</p>
                                <div fxLayout="row wrap">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" [src]="mytimeline.attachment" *ngIf="mytimeline.attachment" alt="Image of {{mytimeline.attachment}}">
                                    </div>
                                </div>
                                <button mat-raised-button color="{{mytimeline.buttons}}" *ngIf="mytimeline.buttons">Check Now</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <!-- End Tab 1 -->
                <!-- Tab 2 -->
                <mat-tab label="Profile">
                    <mat-card-content>
                        <mat-card-title>Form Basic Layouts</mat-card-title>
                        <!-- ============================================================== -->
                        <!-- column -->
                        <!-- ============================================================== -->
                        <form class="basic-form">
                            <div fxLayout="row wrap">
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Some text value">
                                    </mat-form-field>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="EmailId" type="email">
                                    </mat-form-field>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Password" type="password">
                                    </mat-form-field>
                                </div>

                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <mat-select placeholder="Select">
                                            <mat-option value="option">Option</mat-option>
                                            <mat-option value="option">Option2</mat-option>
                                            <mat-option value="option">Option3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Textarea"></textarea>
                                    </mat-form-field>
                                </div>
                                <!-- column -->
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <button mat-raised-button color="primary">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>