<div class="card-group">
    <!-- column -->

    <mat-card>
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-info">account_circle</mat-icon>
            <h3 class="m-0">386</h3>
            <h5 class="text-muted m-t-0 m-b-10">New Clients</h5>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
    <!-- column -->

    <mat-card>
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-danger">local_mall</mat-icon>
            <h3 class="m-0">1386</h3>
            <h5 class="text-muted m-t-0 m-b-10">New Projects</h5>
            <mat-progress-bar color="warn" mode="determinate" value="60"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
    <!-- column -->

    <mat-card>
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-purple">stars</mat-icon>
            <h3 class="m-0">986</h3>
            <h5 class="text-muted m-t-0 m-b-10">New Items</h5>
            <mat-progress-bar color="accent" mode="determinate" value="80"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
    <!-- column -->

    <mat-card>
        <mat-card-content>
            <!-- column -->
            <mat-icon class="text-info">content_paste</mat-icon>
            <h3 class="m-0">786</h3>
            <h5 class="text-muted m-t-0  m-b-10">New Invoices</h5>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

    <!-- column -->
</div>
