<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex="100">
    <mat-card class="mat-card-top chat-app">
      <mat-sidenav-container
        [ngClass]="{ 'side-panel-opened': sidePanelOpened, 'side-panel-closed': !sidePanelOpened }">
        <mat-sidenav #chatnav [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()" (open)="sidePanelOpened = true"
          (close)="sidePanelOpened = false">
          <mat-toolbar color="primary" class="no-shadow">
            <div fxLayout="row" fxFlex="100">
              <span class="m-t-0 font-14">
                <img src="assets/images/users/8.jpg" class="img-circle vm m-r-10" width="40">Luke Thomson</span>
            </div>
          </mat-toolbar>
          <mat-nav-list>
            <mat-list-item (click)="onSelect(message)" [class.active]="message === selectedMessage"
              *ngFor="let message of messages">
              <img mat-list-avatar src="{{message.photo}}" alt="">
              <h3 matLine> {{message.from}} </h3>
              <p matLine class="text-muted"> {{message.subject}} </p>
            </mat-list-item>
          </mat-nav-list>
        </mat-sidenav>
        <mat-toolbar class="bg-success no-shadow chat-right-panel" color="warn">
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <button (click)="chatnav.toggle()" class="mr-1" mat-icon-button>
              <mat-icon>short_text</mat-icon>
            </button>
            <span class="top-avatar m-r-10">
              <img src="{{selectedMessage.photo}}" class="img-circle">
            </span>
            <div fxFlex>
              <div class="font-14">{{selectedMessage.from}}</div>
            </div>
            <button [matMenuTriggerFor]="them" mat-icon-button class="ml-1">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #them="matMenu" x-position="before">
              <button mat-menu-item>Contact info</button>
              <button mat-menu-item>Mute</button>
              <button mat-menu-item>Delete chat</button>
            </mat-menu>
          </div>
        </mat-toolbar>
        <mat-card-content class="chat-middle-box">
          <ng-container *ngFor="let c of selectedMessage.chat">
            <ng-template [ngIf]="c.type == 'odd'" [ngIfElse]="evenblock">
              <div class="chat-list odd">
                <div class="chat-message">
                  <div class="chat-block">
                    <span>
                      <img src="{{selectedMessage.photo}}" class="img-circle" width="40">
                    </span>
                    <span>{{c.msg}}</span>
                  </div>
                  <span class="chat-date">{{ c.date | date }}</span>
                </div>
              </div>
            </ng-template>
            <ng-template #evenblock>
              <div class="chat-list even">
                <div class="chat-message">
                  <div class="chat-block bg-light-info">{{c.msg}}</div>
                  <span class="chat-date">{{ c.date | date}}</span>
                </div>
              </div>
            </ng-template>
          </ng-container>

        </mat-card-content>
        <mat-card-actions class="chat-footer">
          <div fxLayout="row" layout-align="start center">
            <mat-form-field class="mr-1 ml-1" fxFlex>
              <input matInput [(ngModel)]="msg" placeholder="Send message" #myInput (keyup.enter)="OnAddMsg()">
            </mat-form-field>
            <button mat-fab color="warn" (click)="OnAddMsg()" [disabled]="!msg">
              <mat-icon>send</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-sidenav-container>
    </mat-card>
  </div>
</div>
