<div fxLayout="row wrap">
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Ticket</mat-card-title> Hi There, i was wondering, do you provide a service to build custom pages. I need some pages
                for a ticket system similar to the one you have. Please advise if you provide this service and i will send
                through my requirements. Regards.
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <mat-card-title>Ticket Replies</mat-card-title>
                <ul class="list-unstyled m-t-40">
                    <li class="media">
                        <img class="m-r-15 shrink-none img-circle" src="assets/images/users/2.jpg" width="60" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="m-t-0 m-b-10 font-medium">User Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </li>
                    <hr>
                    <li class="media my-4">
                        <img class="m-r-15 shrink-none img-circle" src="assets/images/users/1.jpg" width="60" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="m-t-0 m-b-10 font-medium">Agent Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </li>
                    <hr>
                    <li class="media">
                        <img class="m-r-15 shrink-none img-circle" src="assets/images/users/2.jpg" width="60" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="m-t-0 m-b-10 font-medium">User Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </li>
                    <hr>
                    <li class="media">
                        <img class="m-r-15 shrink-none img-circle" src="assets/images/users/2.jpg" width="60" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="m-t-0 m-b-10 font-medium">User Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </li>
                    <hr>
                    <li class="media my-4">
                        <img class="m-r-15 shrink-none img-circle" src="assets/images/users/1.jpg" width="60" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="m-t-0 m-b-10 font-medium">Agent Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </li>
                    <hr>
                    <li class="media">
                        <img class="m-r-15 shrink-none img-circle" src="assets/images/users/2.jpg" width="60" alt="Generic placeholder image">
                        <div class="media-body">
                            <h5 class="m-t-0 m-b-10 font-medium">User Name</h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h4 class="m-b-20">Write a reply</h4>
                <form method="post">
                    <quill-editor [style]="{height: '200px'}"></quill-editor>
                    <button mat-raised-button class="m-t-20 m-r-5" color="primary">Reply</button>
                    <button mat-raised-button class="m-t-20" color="accent">Reply & close</button>                    
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <h4 class="card-title">Ticket Info</h4>
            </mat-card-content>
            <mat-card-content class="bg-dark">
                <span class="label label-warning">In Progress</span>
            </mat-card-content>
            <mat-card-content>
                <h5 class="p-t-20 m-b-5">Ticket Creator</h5>
                <span>User Name</span>
                <h5 class="m-t-30 m-b-5">Support Staff</h5>
                <span>Agent Name</span>
                <br/>
                <button mat-raised-button class="m-t-20 m-r-5" color="primary">Update</button>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content class="text-center">
                <h4 class="card-title">User Info</h4>
                <div class="profile-pic m-b-20 m-t-20">
                    <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user">
                    <h4 class="m-t-20 m-b-0">Daniel Kristeen</h4>
                    <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a>
                </div>
                
            </mat-card-content>
            
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h4 class="card-title">Ticket Statestics</h4>
                <div id="ticket-chart">
                <apx-chart [series]="ticketstatus.series" [chart]="ticketstatus.chart"
                        [labels]="ticketstatus.labels" [responsive]="ticketstatus.responsive"
                        [tooltip]="ticketstatus.tooltip" [legend]="ticketstatus.legend"
                        [colors]="ticketstatus.colors" [dataLabels]="ticketstatus.dataLabels"
                        [plotOptions]="ticketstatus.plotOptions" [stroke]="ticketstatus.stroke">
                    </apx-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>