<mat-card>
    <mat-card-content>

        <span *ngIf='invoice'>
            <form #invoiceForm='ngForm'>
                <div fxLayout="row wrap" class="align-items-center m-b-15">
                    <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                        <h3 class="m-0"># <span name="id" [(ngModel)]='invoice.id' ngDefaultControl>
                                {{invoice.id}}</span></h3>
                    </div>
                    <div fxFlex.gt-md="75" class="text-right">
                        <a routerLink='/apps/invoice'>
                            <button mat-stroked-button color="warn" class="m-r-10">Cancel</button>
                        </a>
                        <button mat-raised-button color="primary" (click)=saveDetail()>Save
                            Invoice</button>

                    </div>
                </div>

                <hr />


                <div fxLayout="row wrap" class="align-items-center m-t-15 m-b-15">

                    <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                        <span class="font-medium">
                            Order Status:
                        </span>
                        <mat-form-field>
                            <mat-select name="satus" [(ngModel)]='invoice.status'>
                                <mat-option value="Pending">
                                    Pending
                                </mat-option>
                                <mat-option value="Shipped">
                                    Shipped
                                </mat-option>
                                <mat-option value="Delivered">
                                    Delivered
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                    <div fxFlex.gt-md="75" class="text-right">
                        <span class="font-medium">
                            Order Date:
                        </span>
                        <h6 name="date" class="m-t-10 m-b-0" [(ngModel)]='invoice.orderDate' ngDefaultControl>
                            {{invoice.orderDate | date: 'dd-MM-yyyy'}}</h6>
                    </div>
                </div>
                <hr />

                <div fxLayout="row wrap" class="align-items-center m-t-30 m-b-15">
                    <div fxFlex="100" fxFlex.gt-md="50">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Bill From</mat-label>
                            <input matInput placeholder="Bill From" name="from" [(ngModel)]='invoice.billFrom'>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-md="50">
                        <mat-form-field appearance="outline" class="p-r-15 m-r-15">
                            <mat-label>Bill To</mat-label>
                            <input matInput placeholder="Bill To" name="to" [(ngModel)]='invoice.billTo'>
                        </mat-form-field>
                    </div>


                    <div fxFlex="100" fxFlex.gt-md="50">
                        <mat-form-field appearance="outline" class="p-r-15">
                            <mat-label>Enter From Address</mat-label>
                            <input matInput placeholder="Enter From Address" name="fromAddress"
                                [(ngModel)]='invoice.billFromAddress'>
                        </mat-form-field>
                    </div>


                    <div fxFlex="100" fxFlex.gt-md="50">
                        <mat-form-field appearance="outline" class="p-r-15">
                            <mat-label>Bill From</mat-label>
                            <input matInput placeholder="Enter To Address" name="toAddress"
                                [(ngModel)]='invoice.billToAddress'>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </span>



        <form [formGroup]="addForm">
            <div class="table-responsive">
                <table id="tblAdd" class="table table-hover b-all no-wrap v-middle">

                    <thead>
                        <tr>
                            <th class="font-medium p-15">#</th>
                            <th class="font-medium p-15">Item Name</th>
                            <th class="font-medium p-15">Unit Price</th>
                            <th class="font-medium p-15">Units</th>
                            <th class="font-medium p-15">Unit Total Price</th>
                            <th class="font-medium p-15"></th>
                        </tr>
                    </thead>

                    <tbody formArrayName="item" *ngFor="let a of addForm.get('item')?.controls;let i=index">


                        <tr [formGroupName]="i">
                            <td class="p-15">
                                {{i+1}}

                            </td>
                            <td class="p-15">
                                <input type="text" [id]="'txtNameControl'+i" class="form-control"
                                    placeholder="Enter Item Name" formControlName="itemName" (input)="itemsChanged()">

                            </td>
                            <td class="p-15">
                                <input type="number" [id]="'txtCostControl'+i" class="form-control"
                                    placeholder="Enter Item Price" formControlName="itemCost" (input)="itemsChanged()">

                            </td>
                            <td class="p-15">
                                <input type="number" [id]="'txtTotalControl'+i" class="form-control"
                                    placeholder="Enter Item" formControlName="itemSold" (input)="itemsChanged()">

                            </td>
                            <td class="p-15">
                                <input type="number" formControlName="itemTotal" [id]="'txtitemTotalControl'+i"
                                    [value]="addForm.get('item').value[this.i].itemCost * addForm.get('item').value[this.i].itemSold"
                                    class="form-control" disabled />

                            </td>


                            <td class="p-15">
                                <button mat-raised-button color="warn" *ngIf="addForm.get('item')?.length > 1"
                                    (click)="btnRemoveClick(i)">
                                    Delete
                                </button>

                            </td>
                        </tr>


                    </tbody>

                </table>
            </div>



            <div class="text-right m-t-30">
                <button mat-raised-button color="warn" (click)="btnAddItemClick()"
                    [disabled]="addForm.get('item')?.invalid">Add Item</button>

                <div class="text-right m-t-30">
                    <button color="accent" mat-raised-button (click)="onAddRow()" [disabled]="addForm.invalid"
                        *ngIf="addForm.get('rows')">Add row</button>



                    <h5 class="m-b-5 font-medium">Sub total: {{subTotal}}</h5>
                    <h5 class="m-t-0 font-medium">Total Vat: {{vat}}%</h5>

                    <h3 class="m-b-0 b-t p-t-20">Grand Total: {{grandTotal}}</h3>
                </div>


            </div>

        </form>

    </mat-card-content>
</mat-card>