<h4 class="m-t-0">{{ data?.action }}</h4>
<div class="basic-form" *ngIf="data?.action === 'Edit'">
  <div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-md="100" fxFlex="100">
      <mat-form-field>
        <input matInput placeholder="Edit Title" [(ngModel)]="data?.event.title">
      </mat-form-field>
    </div>
    <!-- column -->
    <div fxFlex.gt-md="100" fxFlex="100">
      <mat-form-field>
        <input matInput placeholder="Change Color" type="color" [(ngModel)]="data?.event.color.primary">
      </mat-form-field>
    </div>
    <!-- column -->
    <div fxFlex.gt-md="50" fxFlex="100" class="p-r-10">
      <mat-form-field>
        <input matInput [matDatepicker]="startDateDP" placeholder="Start Date" name="startDate"
          [(ngModel)]="data?.event.start">
        <mat-datepicker-toggle matSuffix [for]="startDateDP"></mat-datepicker-toggle>
        <mat-datepicker #startDateDP></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- column -->
    <div fxFlex.gt-md="50" fxFlex="100" class="p-l-10">
      <mat-form-field>
        <input matInput [matDatepicker]="endDateDP" placeholder="End Date" name="endDate" [(ngModel)]="data?.event.end">
        <mat-datepicker-toggle matSuffix [for]="endDateDP"></mat-datepicker-toggle>
        <mat-datepicker #endDateDP></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- column -->

  </div>
</div>

<button mat-raised-button color="primary" (click)="dialogRef.close()">Ok</button>