<div fxLayout="row wrap" fxLayoutAlign="center start" class="pricing-box">
  <div fxFlex.gt-sm="100" fxFlex="100">

    <div class="card-group text-center">

      <mat-card class="pricing-plan">
        <mat-card-content>
          <mat-card-title>Silver</mat-card-title>
          <h1>
            <sup>$</sup>24</h1>
          <mat-card-subtitle class="mat-text-primary">per month</mat-card-subtitle>
          <mat-list class="price-listing">
            <mat-list-item>3 Members</mat-list-item>
            <mat-list-item>Single Device</mat-list-item>
            <mat-list-item>50GB Storage</mat-list-item>
            <mat-list-item>Monthly Backups</mat-list-item>
          </mat-list>
          <button mat-raised-button color="primary">Choose Plan</button>
        </mat-card-content>

      </mat-card>


      <mat-card class="pricing-plan">
        <mat-card-content>
          <mat-card-title>Gold</mat-card-title>
          <h1>
            <sup>$</sup>34</h1>
          <mat-card-subtitle class="mat-text-primary">per month</mat-card-subtitle>
          <mat-list class="price-listing">
            <mat-list-item>5 Members</mat-list-item>
            <mat-list-item>Single Device</mat-list-item>
            <mat-list-item>80GB Storage</mat-list-item>
            <mat-list-item>Monthly Backups</mat-list-item>
          </mat-list>
          <button mat-raised-button color="primary">Choose Plan</button>
        </mat-card-content>

      </mat-card>

      <mat-card class="pricing-plan popular-plan">
        <mat-card-content>
          <span class="pop-tag">Popular</span>
          <mat-card-title>Platinum</mat-card-title>
          <h1>
            <sup>$</sup>45</h1>
          <mat-card-subtitle class="mat-text-primary">per month</mat-card-subtitle>
          <mat-list class="price-listing">
            <mat-list-item>10 Members</mat-list-item>
            <mat-list-item>Single Device</mat-list-item>
            <mat-list-item>120GB Storage</mat-list-item>
            <mat-list-item>Monthly Backups</mat-list-item>
          </mat-list>
          <button mat-raised-button color="warn">Choose Plan</button>
        </mat-card-content>

      </mat-card>

      <mat-card class="pricing-plan">
        <mat-card-content>
          <mat-card-title>Dimond</mat-card-title>
          <h1>
            <sup>$</sup>54</h1>
          <mat-card-subtitle class="mat-text-primary">per month</mat-card-subtitle>
          <mat-list class="price-listing">
            <mat-list-item>15 Members</mat-list-item>
            <mat-list-item>Single Device</mat-list-item>
            <mat-list-item>1TB Storage</mat-list-item>
            <mat-list-item>Monthly Backups</mat-list-item>
          </mat-list>
          <button mat-raised-button color="primary">Choose Plan</button>
        </mat-card-content>

      </mat-card>

    </div>



  </div>
</div>