<h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2>
<mat-dialog-content class="pb-3" *ngIf="action != 'Delete'; else elseTemplate">
    <form #userForm="ngForm">
        <div class="d-flex align-items-center m-b-15">
            <img class="mat-card-avatar" [src]='local_data.imagePath'>
            <button mat-raised-button color="primary" class="m-l-15 input-file-button">
                <input type="file" (change)="selectFile($event)" #fileInput>
            </button>
        </div>
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="name" name="name" [(ngModel)]="local_data.Name"
                            placeholder="Name">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="position" name="position"
                            [(ngModel)]="local_data.Position" placeholder="Position">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="email" name="email" [(ngModel)]="local_data.Email"
                            placeholder="Email">
                    </mat-form-field>
                </div>

            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="mobile" name="mobile" [(ngModel)]="local_data.Mobile"
                            placeholder="Mobile">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="date" placeholder="Date of Birth" matInput required id="doj" name="doj"
                            [(ngModel)]="joiningDate">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="salary" name="salary" [(ngModel)]="local_data.Salary"
                            placeholder="Salary">
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-md="50">
                <div class="m-r-15 m-l-15">
                    <mat-form-field>
                        <input type="text" matInput required id="projects" name="projects"
                            [(ngModel)]="local_data.Projects" placeholder="Projects">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button mat-button (click)="doAction()" mat-flat-button color="warn"
            [disabled]="!userForm.valid">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </form>
</mat-dialog-content>
<ng-template #elseTemplate>
    <p>Sure to delete <b>{{local_data.Name}}</b> ?</p>
    <div mat-dialog-actions align="end" class="pt-3">
        <button mat-button (click)="doAction()" mat-flat-button color="warn">{{action}}</button>
        <button mat-button (click)="closeDialog()">Cancel</button>
    </div>
</ng-template>