<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-info">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Purchase</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <div class="d-flex flex-column">
                            <apx-chart [series]="inexpuchartOptions.series" [chart]="inexpuchartOptions.chart"
                                [dataLabels]="inexpuchartOptions.dataLabels"
                                [plotOptions]="inexpuchartOptions.plotOptions" [yaxis]="inexpuchartOptions.yaxis"
                                [legend]="inexpuchartOptions.legend" [fill]="inexpuchartOptions.fill"
                                [stroke]="inexpuchartOptions.stroke" [tooltip]="inexpuchartOptions.tooltip"
                                [xaxis]="inexpuchartOptions.xaxis" [grid]="inexpuchartOptions.grid">
                            </apx-chart>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-purple">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Expense</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <div class="d-flex flex-column">
                            <apx-chart [series]="inexpuchartOptions.series" [chart]="inexpuchartOptions.chart"
                                [dataLabels]="inexpuchartOptions.dataLabels"
                                [plotOptions]="inexpuchartOptions.plotOptions" [yaxis]="inexpuchartOptions.yaxis"
                                [legend]="inexpuchartOptions.legend" [fill]="inexpuchartOptions.fill"
                                [stroke]="inexpuchartOptions.stroke" [tooltip]="inexpuchartOptions.tooltip"
                                [xaxis]="inexpuchartOptions.xaxis" [grid]="inexpuchartOptions.grid">
                            </apx-chart>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-success">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Income</h3>
                        <h6 class="text-white m-t-0">March 2017</h6>
                        <h1 class="text-white m-0">35487</h1>
                    </div>
                    <div class="ml-auto" style="height: 84px; width: 100px">
                        <div class="d-flex flex-column">
                            <apx-chart [series]="inexpuchartOptions.series" [chart]="inexpuchartOptions.chart"
                                [dataLabels]="inexpuchartOptions.dataLabels"
                                [plotOptions]="inexpuchartOptions.plotOptions" [yaxis]="inexpuchartOptions.yaxis"
                                [legend]="inexpuchartOptions.legend" [fill]="inexpuchartOptions.fill"
                                [stroke]="inexpuchartOptions.stroke" [tooltip]="inexpuchartOptions.tooltip"
                                [xaxis]="inexpuchartOptions.xaxis" [grid]="inexpuchartOptions.grid">
                            </apx-chart>
                        </div>

                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->

    <!-- column -->
</div>