<div fxLayout="row wrap">
    <div fxFlex.gt-md="50">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Text Color Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.text-muted</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.text-primary</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.text-success</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.text-info</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.text-warning</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.text-danger</code>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Border Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.b-all</code> : Border all side</mat-list-item>
                    <mat-list-item>
                        <code>.b-0</code> : Border none all side</mat-list-item>
                    <mat-list-item>
                        <code>.b-t</code> : Border top</mat-list-item>
                    <mat-list-item>
                        <code>.b-b</code> : Border bottom</mat-list-item>
                    <mat-list-item>
                        <code>.b-l</code> : Border left</mat-list-item>
                    <mat-list-item>
                        <code>.b-r</code> : Border right</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Background Colors </mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.bg-primary</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.bg-success</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.bg-warning</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.bg-danger</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.bg-inverse</code>
                    </mat-list-item>
                    <mat-list-item>
                        <code>.bg-info</code>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Extra Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.oh</code> : overflow Hidden</mat-list-item>
                    <mat-list-item>
                        <code>.relative</code> : Position Relative</mat-list-item>
                    <mat-list-item>
                        <code>.absolute</code>: Position Absolute</mat-list-item>
                    <mat-list-item>
                        <code>.d-flex</code>: Display flex</mat-list-item>
                    <mat-list-item>
                        <code>.db</code> : Display Blcok</mat-list-item>
                    <mat-list-item>
                        <code>.dl</code> : Display Inline block</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex.gt-md="50">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Margin Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.m-0</code>Margin zero to all</mat-list-item>
                    <mat-list-item>
                        <code>.m-t-5</code> Only Margin top will be 5px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-t-10</code> Only Margin top will be 10px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-t-15</code> Only Margin top will be 15px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-t-20</code> Only Margin top will be 20px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-t-30</code> Only Margin top will be 30px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-t-40</code> Only Margin top will be 40px.</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Margin Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.m-b-5</code> Only Margin Bottom will be 5px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-b-10</code> Only Margin Bottom will be 10px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-b-15</code> Only Margin Bottom will be 15px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-b-20</code> Only Margin Bottom will be 20px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-b-30</code> Only Margin Bottom will be 30px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-t-40</code> Only Margin top will be 40px.</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Margin Classes </mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.m-r-5</code> Only Margin Right will be 5px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-r-10</code> Only Margin Right will be 10px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-r-15</code> Only Margin Right will be 15px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-r-20</code> Only Margin Right will be 20px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-r-30</code> Only Margin Right will be 30px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-r-40</code> Only Margin Right will be 40px.</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Margin Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.m-l-5</code> Only Margin Left will be 5px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-l-10</code> Only Margin Left will be 10px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-l-15</code> Only Margin Left will be 15px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-l-20</code> Only Margin Left will be 20px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-l-30</code> Only Margin Left will be 30px.</mat-list-item>
                    <mat-list-item>
                        <code>.m-l-40</code> Only Margin Left will be 40px.</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row wrap">
    <div fxFlex.gt-md="50">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Padding Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.p-0</code> Padding will be 0px from all side.</mat-list-item>
                    <mat-list-item>
                        <code>.p-10</code> Padding will be 10px from all side.</mat-list-item>
                    <mat-list-item>
                        <code>.p-20</code> Padding will be 20px from all side</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Padding Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.p-l-0</code> Only Padding Left will be 0px.</mat-list-item>
                    <mat-list-item>
                        <code>.p-l-10</code> Only Padding Left will be 10px.</mat-list-item>
                    <mat-list-item>
                        <code>.p-l-20</code> Only Padding Left will be 20px.</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Padding Classes </mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.p-r-0</code> Only Padding right will be 0px.</mat-list-item>
                    <mat-list-item>
                        <code>.p-r-10</code> Only Padding right will be 10px.</mat-list-item>
                    <mat-list-item>
                        <code>.p-r-20</code> Only Padding right will be 20px.</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Padding Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.p-t-0</code> Only Padding top will be 0px.</mat-list-item>
                    <mat-list-item>
                        <code>.p-t-10</code> Only Padding top will be 10px.</mat-list-item>
                    <mat-list-item>
                        <code>.p-t-20</code> Only Padding top will be 20px.</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div fxFlex.gt-md="50">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Font Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.font-bold</code> Font bold</mat-list-item>
                    <mat-list-item>
                        <code>.font-normal</code> Font Normal.</mat-list-item>
                    <mat-list-item>
                        <code>.font-light</code> Font Light</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>font Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.font-medium</code> Font Medium.</mat-list-item>
                    <mat-list-item>
                        <code>.font-10</code> Font size 10px.</mat-list-item>
                    <mat-list-item>
                        <code>.font-12</code> Font size 12px.</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Font Classes </mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.font-14</code> font-size 14px.</mat-list-item>
                    <mat-list-item>
                        <code>.font-16</code> font size 16px.</mat-list-item>
                    <mat-list-item>
                        <code>.font-20</code> font size 20px.</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Extra Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.img-circle</code> Image transform in circle.</mat-list-item>
                    <mat-list-item>
                        <code>.radius</code> Rounded corner to the element.</mat-list-item>
                    <mat-list-item>
                        <code>.thumb-lg</code> Thumbnail 88px.</mat-list-item>
                    <mat-list-item>
                        <code>.thumb-md</code> Thumbnail 48px.</mat-list-item>
                    <mat-list-item>
                        <code>.thumb-sm</code> Thumbnail 32px.</mat-list-item>

                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<div fxLayout="row wrap">
    <div fxFlex.gt-md="50">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Round Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.round-lg</code> round-lg 60px </mat-list-item>
                    <mat-list-item>
                        <code>.round-success</code> Round green.</mat-list-item>
                    <mat-list-item>
                        <code>.round-info</code> Round Blue</mat-list-item>
                    <mat-list-item>
                        <code>.round-warning</code> Round yellow</mat-list-item>
                    <mat-list-item>
                        <code>.round-danger</code> Round Red</mat-list-item>
                    <mat-list-item>
                        <code>.round-primary</code> Round perple</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Lebel Classes</mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.label-rounded</code> rounded label </mat-list-item>
                    <mat-list-item>
                        <code>.label-success</code> label green.</mat-list-item>
                    <mat-list-item>
                        <code>.label-info</code> label Blue</mat-list-item>
                    <mat-list-item>
                        <code>.label-warning</code> label yellow</mat-list-item>
                    <mat-list-item>
                        <code>.label-danger</code> label Red</mat-list-item>
                    <mat-list-item>
                        <code>.label-primary</code> label perple</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Lebel Light Classes </mat-card-title>
                <mat-list role="list">
                    <mat-list-item>
                        <code>.label-light-success</code> label light green.</mat-list-item>
                    <mat-list-item>
                        <code>.label-light-info</code> label light Blue</mat-list-item>
                    <mat-list-item>
                        <code>.label-light-warning</code> label light yellow</mat-list-item>
                    <mat-list-item>
                        <code>.label-light-danger</code> label light Red</mat-list-item>
                    <mat-list-item>
                        <code>.label-light-primary</code> label light perple</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>

</div>